{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>

    <link rel="shortcut icon" type="image/x-icon" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/onebyteoftravel.ico" />
    <title>One Byte Of Travel | {% page_attribute 'page_title' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% page_attribute 'meta_description' %}">
    <meta name="author" content="One Byte Of Travel">
    <meta name="keywords" content="{% page_attribute 'meta_description' %}">
    <meta property="og:url"           content="https://onebyteoftravel.com/" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="One Byte Of Travel" />
    <meta property="og:description"   content="{% page_attribute 'meta_description' %}" />
    <meta property="og:image"         content="https://farm5.staticflickr.com/4857/30775348507_c0f9a896a2_b.jpg" />
    <meta name="msvalidate.01" content="18B15907AFD109CF20511B70549F5204" />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <style>
    @media only screen and (min-width: 768px) {
      header.text-image {
           background-position: 21% 70%;
      }
     }
     @media only screen and (max-width: 768px) {
      header.text-image {
         background-position: 50% 100%;
         height: 13em;
      }
      .navbar-brand {
        font-size: 1rem;
      }
     }
     header.text-image {
        margin-bottom: 1em;
     }
     .site-hdr-adj {
      margin-top:1em;
     }
     a.badge.badge-secondary {
        color: #fff !important;
      }
    </style>
    {% render_block "css" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121648776-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121648776-1');
    </script>
    <!-- Google Analytice end -->
  </head>

  <body>
    {% cms_toolbar %}
    {% show_menu 0 0 0 0 'cms_blog/navigation_menu.html' %}
    <header class="masthead text-image" style="background-image: url('https://farm5.staticflickr.com/4857/30775348507_c0f9a896a2_b.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading dn-none site-hdr-adj">
              <span class="subheading">Tech & Travel Blog</span>
              <h2>One Byte Of Travel</h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% block content %}
    {% endblock content %}
    {% include 'cms_blog/footer.html' %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=825049437700231&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://apis.google.com/js/platform.js"></script>

    {% render_block "js" %}

  </body>

</html>
