{% extends "cms_blog/base.html" %}
{% load cms_tags %}

{% load i18n easy_thumbnails_tags %}{% spaceless %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in post_list %}
              <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                  <h3 class="post-subtitle">
                    {% if not TRUNCWORDS_COUNT %}
                                {% render_model post "abstract" "" "" "safe" %}
                            {% else %}
                                {% render_model post "abstract" "" "" "truncatewords_html:TRUNCWORDS_COUNT|safe"  %}
                            {% endif %}
                  </h3>
                </a>
                  <span class="badge badge-dark">Categories:</span>
                  {% for category in post.categories.all %}
                        {% if category.slug %}
                            <a href="{% url 'djangocms_blog:posts-category' category=category.slug %}"  class="badge badge-secondary">{{ category.name }}</a>
                         {% endif %}
                      {% endfor %}

                <p class="post-meta">Posted
                  {% if post.author %}
                          {% trans "by" %} <a href="{% url 'djangocms_blog:posts-author' post.author.get_username %}" class="link-clr-dark">
                           {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</a>
                      {% endif %}
                  on {{ post.date_published|date:"D, d M Y" }}
                </p>
              </div>
              <hr>
            {% empty %}
                    <p class="blog-empty">{% trans "No article found." %}</p>
            {% endfor %}
          <!-- Pager -->
            {% if is_paginated %}
                {% if page_obj.has_next %}
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
                    </div>
                {% endif %}
                {% if page_obj.has_previous %}
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">Newer Posts &rarr;</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </div>

{% endblock content %}
{% endspaceless %}
