{% load cms_tags %}
<footer class="py-5 bg-dark footer">
  <div class="container">
      <a href="https://www.facebook.com/onebyteoftravel/" target="_blank" class="footer-social footer-social-f fab fa-facebook-f"></a>
      <a href="https://twitter.com/onebyteoftravel" target="_blank" class="footer-social footer-social-tw  fab fa-twitter"></a>
      <a href="https://www.instagram.com/onebyteoftravel/" target="_blank" class="footer-social footer-social-ig fab fa-instagram"></a>
      <a href="https://www.youtube.com/channel/UC1qrabKqHy0uFb5g1HWNz2A" class="footer-social footer-social-yt fab fa-youtube"></a>
      <a href="https://github.com/logsvikas/cms-onebyteoftravel" target="_blank" class="footer-social-git footer-social fab fa-github"></a>
      <a href="https://feeds.feedburner.com/OneByteOfTravel" target="_blank" class="footer-social fa fa-rss"></a>
      <a href="https://onebyteoftravel.com/sitemap.xml" class="footer-social fas fa-sitemap"></a>
      {% static_placeholder 'footer' %}
  </div>
  <!-- /.container -->
</footer>