{% load staticfiles %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<style>
.social-share-header {
    position: relative;
    width: auto;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0;
}
ul.navbar-nav li a {
      color: white;
      text-decoration:none;
}
.fab, .fas{
    padding: 0em;
    padding-right: .18em;
    font-size: 2.2em;
    width: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: auto;
}
.fab:hover, .fas:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
}
.social-share-header a {
  text-decoration: none;
}
.fa-smile, .fa-gratipay {
    color: yellow;
    font-size: 2em;
}
.fa-grin-hearts, .fa-globe-asia {
    color: #A0E0DA;
    font-size: 1.4em;
}
.fixed-top {
    padding: .8em !important;
}
</style>