{% load staticfiles %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<style>
.social-share-header {
    position: relative;
    width: auto;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0;
}
ul.navbar-nav li a {
      color: white;
      text-decoration:none;
}
.fab, .fas{
    padding: 0em;
    padding-right: .18em;
    font-size: 2.2em;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: auto;
}
.social-share-header a {
  text-decoration: none;
}
.fa-smile, .fa-gratipay {
    color: yellow;
    font-size: 2em;
}
.fa-grin-hearts, .fa-globe-asia {
    color: #A0E0DA;
    font-size: 1.4em;
}
.fixed-top {
    padding: .8em !important;
}
.footer-social {
  color: white;
  padding: 7px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.footer-social:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

.footer-social-f {
  background: #3B5998;
  color: white;
}

.footer-social-tw {
  background: #55ACEE;
  color: white;
}
.footer-social-yt {
  background: #bb0000;
  color: white;
}

.footer-social-ig {
  background: #3e739d;
  color: white;
}
.fa-rss {
  background: #f88b02;
  color: white;
}
.fa-sitemap {
    background: #0c8599;
    color: white;
}
.sidebar-git {
    font-size: 1em;
    color: #4183C4;
}
.footer-social-git {
    background: #4183C4;
    color: white;
}
.hdr-wb-name, .hdr-wb-name:hover, .hdr-wb-faw {
   text-decoration: none;
   color:white!important;
   font-size: 1rem!important;
}
.hdr-text-para {
  margin:0.6em 0.5em 0.4em 0.1em!important;
}
</style>